
body{
  background: var(--touching-ui-default-color-background);
  color: var(--touching-ui-default-color-main);
  margin: 0;
}

@import url(./global.app.css);

:root {
  -webkit-tap-highlight-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
}



* {
  box-sizing: border-box;
}
