:root {
    --touching-ui-app-color-primary: hsl(218, 100%, 61%);
    --touching-ui-app-color-secondary: hsl(199, 100%, 62%);
    --touching-ui-app-color-tertiary: hsl(235, 100%, 66%);
    --touching-ui-app-color-main: hsl(0, 0%, 0%);
    --touching-ui-app-color-contrast: hsl(0, 0%, 100%);
    --touching-ui-app-color-dim: hsl(0, 0%, 50%);
    --touching-ui-app-color-background: hsl(0, 0%, 100%);
    --touching-ui-app-color-shadow: hsl(0, 0%, 0%, 0.5);
  
    --touching-ui-app-border-radius-sm: 2px;
    --touching-ui-app-border-radius-md: 5px;
    --touching-ui-app-border-radius-lg: 10px;
  
    --touching-ui-app-whitespace-sm: 0.25rem;
    --touching-ui-app-whitespace-md: 0.5rem;
    --touching-ui-app-whitespace-lg: 1rem;
  
    --touching-ui-app-shadow-offset-xs: 1px;
    --touching-ui-app-shadow-offset-sm: 2px;
    --touching-ui-app-shadow-offset-md: 5px;
    --touching-ui-app-shadow-offset-lg: 10px;
  
    --touching-ui-app-shadow-blur-xs: 1px;
    --touching-ui-app-shadow-blur-sm: 2px;
    --touching-ui-app-shadow-blur-md: 5px;
    --touching-ui-app-shadow-blur-lg: 10px;
    --touching-ui-app-shadow-blur-xl: 25px;
    --touching-ui-app-shadow-blur-xxl: 50px;
  }
  
  body[mode='app'] {
    background: var(--touching-ui-app-color-background);
    color: var(--touching-ui-app-color-main);
    margin: 0;
  }